[mysqld]
# https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html
# innodb_file_format = Barracuda
# innodb_large_prefix
# innodb_file_per_table = 1
# innodb_file_format_max = Barracuda
# innodb_strict_mode = 1
# https://dev.mysql.com/doc/refman/5.7/en/charset-server.html
character_set_server = 'utf8mb4'
collation_server = 'utf8mb4_unicode_ci'
# https://dev.mysql.com/doc/refman/5.7/en/charset-applications.html
init_connect='SET collation_connection = utf8mb4_unicode_ci'
init_connect='SET NAMES utf8mb4'
[client]
# https://dev.mysql.com/doc/refman/5.7/en/charset-configuration.html
default_character_set = 'utf8mb4'
